.form-control {
  margin-bottom: 0.5rem;
}

.form-control > * {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control label {
  font-weight: bold;
}

.form-control input {
  padding: 0.3rem;
}

.form-control.invalid label {
  color: rgb(255, 42, 42);
}
.form-control.invalid input {
  border-color: rgb(255, 42, 42);
  background-color: tomato;
}
