.users-form {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
}
.form-control {
  margin-bottom: 0.5rem;
}

.form-control > * {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control label {
  font-weight: bold;
}

.form-control input {
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.15rem;
  width: 100%;
}

.form-control input:focus {
  outline: none;
  border-color: #4f005f;
}

.form-control.invalid label {
  color: rgb(255, 42, 42);
}
.form-control.invalid input {
  border-color: rgb(255, 42, 42);
  background-color: tomato;
}
